@import '~antd/dist/antd.css';
body {
  background: #ffffff;
  padding-right: 0 !important;
  font-family: 'Poppins', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  height: 100vh !important;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif!important;
}
*:focus-visible {
  outline: 0!important;
  box-shadow: none!important;
}

