.container-app-topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 8px;
  padding-left: 20px;
  box-shadow: 2px 5px 5px -2px #c8c8c8;
  position: sticky;
  top: 0;
  z-index: 9;
}

@media only screen and (max-width: 600px) {
  .container-app-topbar {
    padding: 5px 4px;
  }
}
.signout-btn {
  font-size: 14px;
  color: #0F214B;
  font-weight:400;
  color: #000000 !important;
  border: none;
  background-color: #ffffff !important;
  width: -webkit-fill-available;
  text-align: left;
  height: 36px;
}
.signout-btn:active,
.signout-btn:active:focus {
  background-color: #F3F3F3 !important;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15) !important;
}
.signout-btn:hover {
  background-color: #F3F3F3 !important;
}
.pop-content{
  padding: 10px 10px;
 
}
.pop-content h5{
  font-size: 14px;
  color: #0F214B;
  font-weight:300;
  padding-top: 10px;
}
.footer{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer-fixed-bottom{
  text-align: center;
  position: relative;
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0px;
  width: 100%;
}
